{% extends 'base.html.twig' %}

{% block body %}
<h1>Connexion</h1>
<form>
    <div><label>Mail :</label><input type="text"></div>
    <div><label>Mot de passe :</label><input type="password"></div>
    <div><button type="submit">Connexion</button></div>
</form>
{% endblock %}
